body {
    font-family: sans-serif;
    margin: 0;
    background-color: #000000; /* Preto total para o fundo */
    color: #000000; /* Branco para o texto */
}

header {
    background-color: #111111; /* Um tom mais suave de preto para o cabeçalho */
    color: #000000;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#mensagem-principal {
    background-color: #222222; /* Um tom um pouco mais claro para a seção principal, criando um leve contraste */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1); /* Sutil sombra branca para destacar a seção */
    margin-bottom: 20px;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center; /* Centralizei o texto aqui também */
}

footer {
    text-align: center;
    padding: 10px; /* Faltava a unidade de medida (pixels neste caso) */
    background-color: #000000;
    font-size: 0.8em;
}
body {
  background-image: url('foto1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  background-image: url('foto7.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  background-image: url('foto9.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  background-image: url('foto5.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}